<div class="row">
  <div class="col-xs-10">
    <app-shopping-edit ></app-shopping-edit>
    <hr>
    <ul class="list-group">
      <a
        class="list-group-item"
        style="cursor: pointer"
        *ngFor="let ingredient of ingredients;let id = index"
        (click)="onEditItem(id)"
      >
      <!-- <div  > -->
        {{ ingredient.name }} ({{ ingredient.amount }})
      <!-- </div> -->
      </a>
    </ul>

  <!-- <p appBetterHighlight [defaultColor]="'gold'" [highlightColor]="'deeppink'"> Directed element</p> -->
  </div>
</div>
